<body style="background-color: burlywood;">
<link rel="stylesheet" type="text/css" href="css/style.css">
<div class="index-all">
<h1 class="h1">Your Products!</h1>
<div class="index-small">
<div>
    <% product.forEach(function(eachCat) { %>
    <tr>
        <td> <%= eachCat.name %> </td>
        <br>
        <td> <%= eachCat.category %> </td>
        <br>
        <td> <%= eachCat.price %> </td>
        <br>
        <td> <%= eachCat.image %> </td>
        <br>
    </tr>
    <% }) %>
    <div class="dropdown">
        <button class="dropbutton">Category</button>
            <div class="dropdown-content">
                <% product.forEach(function(eachCat){ %>
                <a href="#"><%= eachCat.category %></a>
                <% }) %>
            </div>
    </div>
</div>
<br>
<br>
<div>
<a href="/updateProduct">Update Product</a>
<br>
<a href="/">Create Product/Profile</a>
</div>

<br>
<form action="/product?_method=DELETE" method="POST">
    <button class="button" type="submit">Delete Products</button>
</form>
</div>
</div>
</body>